body {
    font-family: Arial;
}

.container {
    width: 100%;
    margin: 5px;
}

.who-are-we {
    box-shadow: 1px 1px 1px 1px #333;
    width: 45%;
    text-align: center;
}

.our-mission {
    box-shadow: 1px 1px 1px 1px #333;
    width: 45%;
    text-align: center;
}

.our-mission, .who-are-we {
    margin: 30px;
}

@media screen and (max-width: 600px) {
    .who-are-we {
        width: 100%;
    }

    .our-mission {
        width: 100%;
    }
}